.movable-window {
	position: absolute;
	z-index: 1000;
	box-shadow: 0px 2px 18px 12px rgba(0,0,0,0.5);
}

#video-player.movable-window {
	position: absolute;
	z-index: 1000;
	box-shadow: 0px 2px 18px 12px rgba(0,0,0,0.5);
	color: ivory;
	font-weight: bold;
	background: black;
}

.movable-header {
	padding: 5px;
	background: #f8f8f8;
}

.movable-body {
	overflow: auto;
	background: #fff;
}

#video-player > div {
	background: black;
}

.movable-window .close-button {
	top: 5px;
	right: 5px;
}

.movable-window .close-button:hover {
}
