.movable-window {
	position: absolute;
	z-index: 1000;
	box-shadow: 0px 2px 18px 12px rgba(0,0,0,0.5);
}

#video-player.movable-window {
	position: absolute;
	z-index: 1000;
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.5);
	color: ivory;
	font-weight: bold;
	background: black;
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  	width: -moz-min-content;    /* Firefox/Gecko */
 	width: -webkit-min-content
}

.movable-header {
	padding: 5px;
	background: #f8f8f8;
}

.movable-body {
	overflow: auto;
	background: #fff;
}

.movable-footer {
	padding-left:6px;
	padding-right:6px;
	padding-top:2px;
	text-align:justify;
	display: none;

}

#video-player > div {
	background: black;
	overflow: hidden;
}

#video-player > .movable-footer {
	display: inline-block;
	height: 43px;
	overflow: auto;
}

.movable-window .close-button {
	top: 5px;
	right: 5px;
}

.movable-window .close-button:hover {
}
