@font-face {
    font-family: 'muktiregular';
    src: url('fonts/mukti.eot');
    src: url('fonts/mukti.eot?#iefix') format('embedded-opentype'),
         url('fonts/mukti.woff') format('woff'),
         url('fonts/mukti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
div.mukti,body.mukti,.mukti .c-num,.mukti .v-num,.mukti	{font-family: 'muktiregular','Mukti','Tahoma','Liberation Sans','sans-serif' !important;}